<div class="prompt">
  <div class="padded">
    <%=prompt%>
    <form class="maneuver-form" data-type="text">
      <input type="number" class="number" value="" />
      <button type="submit">Submit</button>
    </form>
  </div>
</div>

<div class="asset">
  <div class="padded">
    <img src="<%=image_url%>" />
  </div>
</div>

<a href="<%=credit_url%>" class="credit-link" target="_blank"><%=credit%></a>
