<div class="prompt">
  <div class="padded">
    <%=prompt%>
  </div>
</div>

<div class="asset">
  <div class="padded">
    <img src="<%=image_url%>" class="target" />
  </div>
</div>

<a href="<%=credit_url%>" class="credit-link" target="_blank"><%=credit%></a>
