<div class="prompt">
  <div class="padded">
    <%=prompt%>
  </div>
</div>

<div class="asset">
  <div class="padded">
    <div class="canvas">
      <img src="<%=image_url%>" />
      <div class="rectangle"></div>
    </div>
  </div>
</div>

<a href="<%=credit_url%>" class="credit-link" target="_blank"><%=credit%></a>
