<div class="prompt">
  <div class="padded">
    <%=prompt%>
  </div>
</div>

<div class="asset">
  <div class="padded">
    <div class="canvas">
      <img src="<%=url%>" />
      <div class="rectangle"></div>
    </div>
  </div>
</div>
