<div class="prompt">
  <div class="padded">
    <%=prompt%>
    <form class="maneuver-form" data-type="text">
      <input type="text" class="text" value="" />
      <button type="submit">Submit</button>
    </form>
  </div>
</div>

<div class="asset">
  <div class="padded">
    <img src="<%=url%>" />
  </div>
</div>

