@import "variables";
@import "mixins";

.title {
  font-size: 3em;
}

.description {
  font-size: 1.4em;
  color: $grayLighter;
  a {
    color: $white;
    font-weight: bold;
    text-decoration: underline;
  }
}
